#barcode{
	align: center !important;
}

#barcode qr-code img{
	width: 150px;
	height: 150px;
	/*居中样式*/
	clear: both;
	display: block;
	margin:auto;
}

#barcode-description {
	font-weight: bold;
	text-align: center;
}